html {
  position: relative;
  min-height: 100%;
}

body {
  /* Move down content because we have a fixed navbar that is 3.5rem tall */
  padding-top: 3.5rem;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f0f0f0;
}

/* id contains js link, use this to make mouse cursor behave as link  */
#i_metamask
{
  cursor: pointer;
}

/* xa (me) btn button wa width size a */
.xa-btn-wa {
  width: 6rem;
}
